<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Marcin Grzelak</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Marcin.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="prof" src="static/images/ja.jpg" alt="my-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a future Software and Mobile App Developer. I'm the co-founder of the Meet Project. I ❤️ coffee and chuck steak.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>Crucial details</h2>
      <div class="skill-row">
        <img class="code-img" src="https://www.allrecipes.com/thmb/hz54Dw9cCRehCTe6ZyF2IGeRo9Y=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/7402-carrot-cake-iii-sarah-dipity-1x1-1-2e7c90d8c07c47039b4906ec01911015.jpg" alt="chillies-img">

        <h3>Carrot cake recipe</h3>
        <h4>
          What's In Carrot Cake?
        </h4>
        
        <ul>
          <li>Sugars</li>
          <li>Oil</li>
          <li>Eggs</li>
          <li>Vanilla</li>
          <li>Vanilla</li>
          <li>Leaveners</li>
          <li>Cinnamon</li>
          <li>Salt</li>
          <li><b>Carrots</b></li>
          <li>Pecans</li>
          <li>Butter and cream cheese</li>
        </ul> 
        <h4><b>Step 1:</b></h4>
        <p>Preheat the oven to 350 degrees F (175 degrees C). Grease and flour a 9x13-inch pan.</p>
        <h4><b>Step 2:</b></h4>
        <p>Beat sugar, oil, eggs, and 2 teaspoons vanilla together in a large bowl with an electric mixer until well combined. Mix in flour, baking soda, baking powder, cinnamon, and salt. Stir in carrots. Fold in pecans. Pour into the prepared pan.</p>
        <h4><b>Step 3:</b></h4>
        <p>Bake in the preheated oven until a toothpick inserted into the center of the cake comes out clean, about 40 minutes. Let cool in the pan for 10 minutes, then turn out onto a wire rack and cool completely.

        </p>
        <h4><b>Step 4:</b></h4>
        <p>To make the frosting: Beat butter, cream cheese, confectioners' sugar, and 1 teaspoon vanilla together in a large bowl with an electric mixer until smooth and creamy. Stir in chopped pecans. Frost the cooled cake.</p>
        
      </div>
      <div class="skill-row">
        <img class="chilli-img" src="../static/images/pandaa.jpg" alt="panda-img">

        <h3>Panda fact</h3>
        
        <p>The front paws of pandas have an additional bone that the animals use as a sixth finger (similarly to our thumb). Thanks to this protrusion, they can more effectively grasp and pick bamboo shoots, which significantly facilitates feeding. And as we mentioned earlier - for pandas, eating is the most important part of life.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3 class="mess">If you love carrot cake as much as I do.</h3>
      
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/marcin-grzelak-a95004213/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/marcianoo21">Github</a>
    <a class="footer-link" href="https://www.koty.pl/artykuly/aktualnosci/lil-bub-prawdopodobnie-najslodszy-kot-swiata">Website</a>
    <p class="copyright">© 2024 Marcin Grzelak</p>
  </div>
</body>

</html>
